[workspace]
members = [
    "rust/navpath-service",
    "rust/navpath-core",
    "rust/navpath-builder",
]
resolver = "2"

[workspace.package]
edition = "2021"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
strip = true
opt-level = 3
